<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Problem</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<link rel="stylesheet" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="pure-menu pure-menu-horizontal">
				<a href="/index.html" class="pure-menu-heading pure-menu-link">Yosupo</a>
				<span class="pure-menu-heading">Problem</span>
				<a href="chat.html" class="pure-menu-heading pure-menu-link">Chat</a>
				<a href="ranking.html" class="pure-menu-heading pure-menu-link">Ranking</a>
			</div>
		</header>
		<section class="content">
			<p>Your ID: {{if $}}{{$.Id}}{{else}}ログインしてください{{end}}</p>
			<p>Your Token: {{if $}}{{$.Token}}{{else}}ログインしてください{{end}}</p>

			<p>練習ページです</p>
			<p>http://comp.yosupo.com/sample/comment?id=(Your ID)&amp;token=(Your Token)&amp;comment=(コメント)<p>
			<p>でランキングのコメントを変更できます</p>
			<p>http://comp.yosupo.com/sample/chat?id=(Your ID)&amp;token=(Your Token)&amp;text=(コメント)<p>
			<p>でチャットに投稿できます</p>
			<p>APIごとに1秒制限があるので、同じAPIは1秒間待たないと弾かれるはずです</p>
		</section>
	</body>
</html>