<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ranking</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
		<link rel="stylesheet" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="pure-menu pure-menu-horizontal">
				<a href="/index.html" class="pure-menu-heading pure-menu-link">Yosupo</a>
				<a href="/problem.html" class="pure-menu-heading pure-menu-link">Problem</a>
				<span class="pure-menu-heading">Ranking</span>
			</div>
		</header>
		<section class="content">
			<p>このランキングは不定期で爆破されます</p>
		</section>
	</body>
</html>